<div id="markdown-uploader-container" class="row">
	<% if @has_content %>
	<form class="form-inline" id="update-form" role="form">
		<div class="form-group">
			<label for="post-title">Title</label>
			<input type="text" id="post-title" name="post-title" class="form-control" />
		</div>	
	</form>
	<% end %>
	<form class="form-inline" action="/upload" method="post" id="upload-form"  enctype="multipart/form-data" role="form">	
		<div class="form-group">
			<label for="markdown_file">Browse Markdown</label>
			<input type="file" name="markdown_file" id="markdown_file" class="form-control" />
		</div>
		<input type="submit" id="upload" class="btn btn-success" value="upload" />
	</form>
	
	<button type="button" id="btn-new" data-action="new" class="btn btn-default">
		<span class="fa fa-file-o"></span>
	</button>
	
	<button type="button" id="btn-list" data-action="list" class="btn btn-default">
		<span class="fa fa-th-list"></span>
	</button>

	<button type="button" id="btn-git" data-action="git" class="btn btn-default">
		<span class="fa fa-check"></span>
	</button>

	<button type="button" id="btn-help" data-action="list" class="btn btn-default">
		<span class="fa fa-question"></span>
	</button>

	<button type="button" id="btn-settings" data-action="list" class="btn btn-default">
		<span class="fa fa-cog"></span>
	</button>

	<div id="action-buttons" class="btn-group">
		<button type="button" id="btn-save" class="btn btn-default">
			<span class="glyphicon glyphicon-floppy-save"></span>
		</button>
		<button type="button" id="btn-bold" class="btn btn-default">
			<span class="glyphicon glyphicon-bold"></span>
		</button>
		<button type="button" id="btn-italic" class="btn btn-default">
			<span class="glyphicon glyphicon-italic"></span>
		</button>
		<button type="button" id="btn-link" class="btn btn-default">
			<span class="glyphicon glyphicon-globe"></span>
		</button>
		<button type="button" id="btn-multilinecode" class="btn btn-default">
			<span class="fa fa-code"></span>
		</button>
		<button type="button" id="btn-quote" class="btn btn-default">
			<span class="fa fa-indent"></span>
		</button>
		<button type="button" id="btn-picture" class="btn btn-default">
			<span class="glyphicon glyphicon-picture"></span>
		</button>
		<button type="button" id="btn-ol-list" class="btn btn-default">
			<span class="fa fa-list-ol"></span>
		</button>
		<button type="button" id="btn-ul-list" class="btn btn-default">
			<span class="fa fa-list"></span>
		</button>		
		<button type="button" id="btn-reset-counter" class="btn btn-default">
			<span class="fa fa-refresh"></span>
		</button>
	</div>
	
	<form class="form-inline" id="checkboxes">
		<div class="checkbox">
			<label for="comments">
				<input type="checkbox" id="comments" name="comments" /> comments
			</label>
		</div>
		<div class="checkbox">
			<label for="publish">
				<input type="checkbox" id="publish" name="publish" /> publish
			</label>
		</div>
		<div class="checkbox">
			<label for="update">
				<input type="checkbox" id="update" name="update" /> update
			</label>
		</div>	
	</form>

	<span id="notifications">
		<span id="notification_text"></span>
	</span>
</div>

<% if @has_content %>
<textarea class="markdown-container">
	<%= @markdown_content %>
</textarea>

<div class="html-container">
	<%= @html_content %>
</div>

<div id="main-settings-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
		 <form role="form"> 				 		 	
			<div class="form-group">
				<label for="image_save_path">Current image save path</label>
				<%= $octopress_source_dir + $images_dir + "/" %>
				<input type="text" name="image_save_path" class="form-control" id="image_save_path" value="<%= @image_save_path %>" />
			</div>
		</form>		     	
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="image-upload-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Insert Image</h4>
      </div>
      <div class="modal-body">
		 <form enctype="multipart/form-data" role="form">
		 	<div class="form-group">
				<label for="image_file">Browse Image</label>
				<input type="file" name="image_file" id="image_file" class="form-control" />
		 	</div>
			<div class="form-group">
				<button type="button" id="btn-insertimage" class="btn btn-primary pull-right">Insert Image</button>
			</div> 			 				 		 	
		</form>		     	
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="link-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Insert Link</h4>
      </div>
      <div class="modal-body">
		<form role="form">
			<div class="form-group">
				<label for="link_url">URL</label>
				<input type="text" name="link_url" class="form-control" id="link_url"/>
			</div>
			<div class="form-group">
				<label for="link_text">Text</label>
				<input type="text" name="link_text" class="form-control" id="link_text" />				
			</div>
			<div class="form-group">
				<button type="button" id="btn-insertlink" class="btn btn-primary pull-right">Insert Link</button>
			</div>
		</form>	     	
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="confirmation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm Action</h4>
      </div>
      <div class="modal-body">
      	<h5>Do you want to save your changes before leaving the page?</h5>
		<form role="form">
			<div class="form-group">
				<button type="button" id="btn-yes" class="btn btn-success pull-right">Yes</button>
				<button type="button" id="btn-no" class="btn btn-danger pull-right">No</button>
			</div>
		</form>	     	
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="help-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
      	<h5>Keyboard Shortcuts</h5>
		<div class="row">
			<div class="col-md-8">
				<code>ctrl + h</code> - help
			</div>
			<div class="col-md-8">
				<code>ctrl + s</code> - save
			</div>
			<div class="col-md-8">
				<code>ctrl + 1</code> to <code>ctrl + 6</code> - h1 to h6
			</div>
			<div class="col-md-8">
				<code>f1</code> - code block
			</div>
			<div class="col-md-8">
				<code>f2</code> - read more link
			</div>	
			<div class="col-md-8">
				<code>-</code> - link
			</div>
			<div class="col-md-8">
				<code>/</code> - code
			</div>
			<div class="col-md-8">
				<code>ctrl + b</code> - bold
			</div>
			<div class="col-md-8">
				<code>ctrl + i</code> - italic
			</div>
			<div class="col-md-8">
				<code>ctrl + q</code> - blockquote
			</div>
			<div class="col-md-8">
				<code>ctrl + u</code> - upload image
			</div>
			<div class="col-md-8">
				<code>ctrl + p</code> - main settings
			</div>
			<div class="col-md-8">
				<code>ctrl + 8</code> - git
			</div>
			<div class="col-md-8">
				<code>ctrl + r</code> - reset counter
			</div>
			<div class="col-md-8">
				<code>ctrl + k</code> - unordered list
			</div>
			<div class="col-md-8">
				<code>ctrl + l</code> - ordered list
			</div>
		</div>    	
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->	
</div>

<% end %>