<div class="center">
	<h2>Create New Post</h2>
	<form action="/new" method="post">
		<label for="title">Title</label>
		<input type="text" name="title" class="form-control" id="title" autofocus />
		<input type="submit" id="btn-create-post" class="btn btn-success" value="Create Post">
	</form>	
</div>