body {
    background: #EEE;
}

#markdown-uploader-container {
    margin: 5px 0 5px 0;
}

#post-title {
    width: 595px;
}

#upload-form {
    margin-left: 25px;
}

#checkboxes {
    margin-left: 10px;
}

.markdown-container {
    width: 48%;
    height: 600px;
    float: left;
    background: #323232;
    color: #FFF;
}

.html-container {
    width: 50%;
    height: 600px;
    float: right;
    overflow: auto;
    background: #FFF;
    padding: 5px;
}

.center {
    width: 500px;
    margin: 0 auto;
}

#title {
    width: 480px;
    height: 30px;
    font-size: 15px;
}

#btn-create-post {
    width: 480px;
    height: 32px;
    margin-top: 6px;
}

.form-inline {
    display: inline;
}

#new-link {
    margin-left: 10px;
}

#action-buttons {
    margin-top: 5px;
}